.add-service {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(73,143,199,1) 0%, rgba(12,24,91,1) 100%);
    color: white;
}

.add-service h1 {
    font-size: 36px;
    text-align: center;
}

.add-service .add-service-form {
    width: 400px;
}

.add-service .form-control {
    position: relative;
    margin-bottom: 20px;
}

.add-service .form-control label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.add-service .form-control input,
.add-service .form-control select {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
}

.add-service .form-control input::placeholder {
    color: white;
}

.add-service .btn-block {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: .5s;
}

.add-service .btn-block:hover {
    background: rgb(195, 237, 55);
}
