
.title-footer {
    color: #333;
    font-size: 34px;
    text-align: center;
  }
  
  .footer-container {
    background-color: #f4f4f4;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-container .text-footer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-container div {
    margin-bottom: 20px;
    text-align: center;
    flex: 0 0 48%;
  }
  
  .rights {
    margin-top: 20px;
    text-align: center;
    color: #090707; 
    font-weight: bold; 
    text-decoration: underline; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }