.home-wrapper {
    background: rgb(45, 192, 253);
    background: linear-gradient(0deg, rgba(45, 192, 253, 0.8715861344537815) 0%, rgba(22, 41, 113, 1) 93%);
    height: 100vh;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .search-box .input-search {
    width: 350px;
    height: 35px;
    border: none;
    outline: none;
    margin-top: 100px;
    border-radius: 40px;
    font-size: 16px;
    
    padding: 20px 45px 20px 20px;
}
 
  
  .search-btn {
    width: 39px;
    height: 39px;
    border: none;
    outline: none;
    margin-left: 10px;
    border-radius: 40px;
    background-color: #fff;
    font-size: 13px;
    color:black;
    
  }

  

 
  