.page-container {
    display: flex;
}

.filter {
    flex-shrink: 0; /* Do not allow to shrink */
}

.services {
    margin: 0 auto; /* Center the content horizontally */
    width: 80%; /* Set the width to 80% of the parent container */
    max-width: 1200px;
}
